<h1>Student Registration Data</h1>

    <p>Please check your name in the list</p>
<ol>
{{#each students}}

    <li>{{ this.firstName }} {{ this.lastName}}</li>

{{/each}}

</ol>


<h2>Total number of students registered {{students.length}}</h2>
