<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <h1>Hostel Alllocation Data</h1>

    <p>Please check the different hostels to see where your name falls</p>

    
</body>
</html>