<h1>Student Hostel Allocator</h1>
    
    <main>
        <form action="/" method="POST">
            <input type="text" name="firstName" placeholder="Enter your First Name">
            <input type="text" name="lastName" placeholder="Enter your Last Name">
            <input type="radio" name="sex" value="male"/>Male
            <input type="radio" name="sex" value="female"/>Female

            <select name="faculty">
                <option value="engineering">School of Engineering</option>
                <option value="business">School of Business & Mgt. Sciences</option>
                <option value="sciences">School of Industrial & Applied Sciences</option>
                <option value="arts">School of Arts & Humanities</option>
            </select>

            <input type="number" name="age" placeholder="Enter your Age">
            <input type="text" name="dept" placeholder="Department">
            <button type="submit" name="submit">Register</button>
        </form>
    
    </main>